@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: #e5effa;
  color: #2c2f31;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
