.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.error {
  text-align: center;
  padding: 35px 0;
  background-color: #aae6cb;
  line-height: 1.5;
  width: 100%;

  &_title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  &_subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  &_massage {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
  }
}
